header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: @header_height;
    .buttons {
        position: absolute;
        top: @distance_normal;
        right: @distance_normal;
    }
}
main {
    padding-top: @header_height;
}